/*  Header  */
#heading {

    text-align: center;
    height: 200px;
    color: #FFFFFF;
    background-color: #56564F;

}

.heading-contents {
    padding-top: 1em;
}


/*  Contents  */

section {

    opacity: 0;
    transition: opacity 2s ease-in ;

}

.fadein {

    opacity: 1;

}




